@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Reg-webfont-1e2b7c9db958309869f2cd535ccf4e8b.eot');
    src: local('☺'),
         url('fonts/ProximaNova-Reg-webfont-1e2b7c9db958309869f2cd535ccf4e8b.woff') format('woff'),
         url('fonts/ProximaNova-Reg-webfont-1e2b7c9db958309869f2cd535ccf4e8b.ttf') format('truetype'),
         url('fonts/ProximaNova-Reg-webfont-1e2b7c9db958309869f2cd535ccf4e8b.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
