<%- layout('layout') %>

<div id="app-header">
    <ul class="app-header-nav left none">
        <li><a href="#"><i class="glyphicon glyphicon-align-justify"></i></a></li>
    </ul>
    <ul class="app-header-nav right">
        <li><a href="#" title="Nova tarefa"><i class="glyphicon glyphicon-edit"></i></a></li>
    </ul>
    <h1 class="app-header-title"><%= title %></h1>
</div>
<div id="app-content" class="">
    <div class="content-inner">
        <!-- Toolbar -->
        <div class="toolbar">
            <div class="toolbar-sections-left">
                <div class="toolbar-section toolbar-search">
                    <input type="search" name="" class="input" placeholder="Filtrar por nome da tarefa" accesskey="s">
                </div>
            </div>
            <!-- <div class="toolbar-sections-right">
                <div class="toolbar-section">
                    <a href="#" class="btn btn-default">Ordenar por: Projeto <i class="glyphicon glyphicon-chevron-down"></i></a>
                </div>
                <div class="toolbar-section">
                    <a href="#" class="btn btn-default">Opções <i class="glyphicon glyphicon-chevron-down"></i></a>
                </div>
            </div> -->
        </div>

        <section class="task-list-wrapper">
            <ul class="task-list">
                <li class="task-list-item" ng-repeat="task in tasks" ng-click="viewtask(task._id)">
                    <div class="task-list-item-inner">
                        <label class="task-checkbox">
                            <input type="checkbox">
                        </label>
                        <span class="task-title">{{ task.title }}</span>
                        <span class="task-due-date">{{ task.date }}</span>
                        <span class="task-assignee">{{ task.user }}</span>
                    </div>
                </li>
                <li class="task-list-item-add">
                    <a href="#" class="btn">+ Nova tarefa</a>
                </li>
            </ul>
        </section>
    </div>
</div>

<article id="task-detail" class="task app-panel">
    <header class="task-header">
        <div class="task-row">
            <em class="task-project"><a href="#">{{ project }}</a></em>
        </div>
        <div class="task-row task-row-title">
            <label class="task-checkbox">
                <input type="checkbox">
            </label>
            <span class="task-title"><a href="#">{{ title }}</a></span>
        </div>
        <div class="task-row">
            <i class="task-row-label glyphicon glyphicon-calendar"></i>
            <span class="task-due-date"><a href="#">{{ date }}</a></span>
        </div>
        <div class="task-row">
            <i class="task-row-label glyphicon glyphicon-user"></i>
            <span class="task-asignee"><a href="#">{{ user }}</a></span>
        </div>
    </header>
    <!-- <ol class="task-row task-feed">
        <li class="task-feed-item"><a href="#" class="task-feed-item-author">Fulano de Tal</a> criou a tarefa. <span class="task-feed-item-date">24 Nov</span></li>
        <li class="task-feed-item"><a href="#" class="task-feed-item-author">Fulano de Tal</a> delegou a tarefa para <a href="#">Asdrúbal Vieira</a>. <span class="task-feed-item-date">24 Nov</span></li>
    </ol> -->
</article>

<form id="task-new" class="task app-panel">
    <header class="task-header">
        <div class="task-row">
            <em class="task-project"><input type="text" placeholder="Projeto" ng-model="formData.project"></em>
        </div>
        <div class="task-row task-row-title">
            <label class="task-checkbox">
                <input type="checkbox">
            </label>
            <span class="task-title"><input type="text" class="width" placeholder="Titulo da tarefa" ng-model="formData.title"></span>
        </div>
        <div class="task-row">
            <i class="task-row-label glyphicon glyphicon-calendar"></i>
            <span class="task-due-date"><input type="text" placeholder="dd/mm/yyyy" ng-model="formData.date"></span>
        </div>
        <div class="task-row">
            <i class="task-row-label glyphicon glyphicon-user"></i>
            <span class="task-asignee"><input type="text" placeholder="Fulano de Tal" ng-model="formData.user"></span>
        </div>
        <div class="task-row none">
            <i class="task-row-label glyphicon glyphicon-tags"></i>
            <span class="task-asignee"><a href="#">Lorem</a>, <a href="#">Ipsum</a>, <a href="#">Dolor Sit</a>, <a href="#">Amet</a></span>
        </div>
        <div class="task-row">
            <input type="submit" value="Criar tarefa" class="btn btn-success" ng-click="createtask()">
        </div>
    </header>
</form>
